<header>
    <nav>
        <a href="/">HOME</a>
        <ul>
            <li><a>books</a></li>
            <li><a>add book</a></li>
            <li><a href="/author">authors</a></li>
            <li><a href="/author/new">add author</a></li>
        </ul>
    </nav>
</header>